body {
  outline: 3px solid magenta !important;
}

.md-grid {
  max-width: initial;
}

/* Style général pour les icônes SVG */
img.icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.3em;
  filter: var(--icon-filter);
}

/* Light mode → icônes noires */
[data-md-color-scheme="default"] {
  --icon-filter: invert(0);
}

/* Dark mode → icônes blanches */
[data-md-color-scheme="slate"] {
  --icon-filter: invert(1);
}

/* KaTeX formulas in left display without margins */
.md-typeset .katex-display > .katex
{
  text-align: left !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.result-pop {
  animation: pop 0.25s ease-out;
}

@keyframes pop {
  0%   { transform: scale(0.8); opacity: 0.2; }
  60%  { transform: scale(1.1); opacity: 1; }
  100% { transform: scale(1); }
}

/* to enable animation */
#war-tables-compute-endurance-result { display: inline-block; }

/*
.md-typeset .compact-table table {
  table-layout: fixed;
  width: 100%;
}

.md-typeset .compact-table th,
.md-typeset .compact-table td {
  white-space: nowrap;
  padding: 0.15rem 0.3rem;
  max-width: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85em;
}
*/
